.search {
  -webkit-appearance: none;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 20rem;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Gugi', cursive;
  font-size: 1.2rem;
}
