.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}

.App-logo {
  width: 50px;
}

.App-header > h1 {
  margin: 0px;
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
